<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hello.hegberg.warondemand">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:name=".DatabaseController"
        android:allowBackup="true"
        android:icon="@mipmap/logo2_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchingActivity" />
        <activity
            android:name=".AccountController"
            android:label="@string/title_activity_account_controller"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hello.hegberg.warondemand.MainActivity" />
        </activity>
        <activity
            android:name=".AddEditAccount"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AddWarItemActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ViewWarItemActivity"
            android:label="@string/title_activity_view_war_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewMyItemsActivity"
            android:label="@string/title_activity_view_my_items"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BiddingActivity" />
        <activity android:name=".BorrowingActivity" />
        <activity android:name=".EditActivity" />
        <activity android:name=".BiddingChooseItem" />
        <activity android:name=".BiddingChooseBid" />
        <activity android:name=".AcceptOrRejectBid" />
        <activity android:name=".BidChooseBid" />
        <activity
            android:name=".Blacklist"
            android:label="@string/title_activity_blacklist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>
