<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hello.hegberg.warondemand">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchingActivity" />
        <activity
            android:name=".UserController"
            android:label="@string/title_activity_user_controller"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountController"
            android:label="@string/title_activity_account_controller"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hello.hegberg.warondemand.MainActivity" />
        </activity>
        <activity
            android:name=".MyProducts"
            android:label="@string/title_activity_my_products"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewAddEditDeleteProduct"
            android:label="@string/title_activity_view_add_edit_delete_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddEditAccount"></activity>
    </application>

</manifest>
